Repository atbraz/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, check-shell-scripts-executable

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # Standard pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
            exclude: ^\.git/
          - id: end-of-file-fixer
            exclude: ^\.git/
          - id: check-yaml
            args: ["--unsafe"] # Allow custom YAML tags
          - id: check-toml
          - id: check-json
          - id: check-added-large-files
            args: ["--maxkb=1000"]
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-shebang-scripts-are-executable
          - id: detect-private-key
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: check-case-conflict

    # Security: Scan for secrets and credentials
    - repo: https://github.com/gitleaks/gitleaks
      rev: v8.30.0
      hooks:
          - id: gitleaks

    # Shell script linting
    - repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.11.0.1
      hooks:
          # ShellCheck for all sh/bash scripts (auto-detects shell type)
          - id: shellcheck
            name: shellcheck
            args: ["-x"] # Follow sourced files, auto-detect shell type
            files: \.(bash|sh)$
            exclude: ^\.zsh
            types: [file]

    # Lua formatting for Neovim configs
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.3.1
      hooks:
          - id: stylua
            files: \.lua$
            types: [file]

    # YAML linting
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint
            files: \.(yaml|yml)$

    # Check for common security issues in bash scripts
    - repo: https://github.com/openstack/bashate
      rev: 2.1.1
      hooks:
          - id: bashate
            name: bashate (bash only)
            args: ["--ignore=E006"] # Ignore line length for readability
            files: \.bash$
            exclude: ^\.zsh
            types: [file]

    # Custom local hooks
    - repo: local
      hooks:
          # Zsh syntax checking
          - id: zsh-syntax-check
            name: Zsh syntax check
            entry: zsh -n
            language: system
            files: (\.zsh$|\.zshrc$|\.zshenv$|\.zprofile$)
            types: [file]

          # Verify no personal information leaks
          - id: verify-no-personal-info
            name: Verify no personal info in commits
            entry: scripts/hooks/verify-no-personal-info.sh
            language: system
            pass_filenames: false

          # Verify smudge/clean filters are configured
          - id: verify-git-filters-configured
            name: Verify git filters are configured
            entry: scripts/hooks/verify-git-filters.sh
            language: system
            pass_filenames: false
            always_run: true

          # Check shell scripts are executable
          - id: check-shell-scripts-executable
            name: Ensure shell scripts are executable
            entry: scripts/hooks/check-scripts-executable.sh
            language: system
            files: ^scripts/.*\.sh$
            pass_filenames: true

          # Check for common dotfile mistakes
          - id: check-common-mistakes
            name: Check for common dotfile mistakes
            entry: scripts/hooks/check-common-mistakes.sh
            language: system
            pass_filenames: false

feat(nvim): add undotree for undo history visualization
  .config/nvim/lua/custom/plugins/editor/undotree.lua
Due: none

refactor(nvim): consolidate plugins into mini.nvim modules
  .config/nvim/lua/custom/plugins/coding/comments.lua
  .config/nvim/lua/custom/plugins/editor/mini.lua
  .config/nvim/lua/custom/plugins/init.lua
  .config/nvim/lua/kickstart/plugins/autopairs.lua
  .config/nvim/lua/kickstart/plugins/gitsigns.lua
Due: none

feat(nvim): enable hidden file search in telescope
  .config/nvim/lua/custom/plugins/core/telescope.lua
Due: none

feat(nvim): add which-key groups for session and trouble
  .config/nvim/lua/custom/plugins/core/which_key.lua
Due: none

feat(nvim): add buffer source to blink.cmp completions
  .config/nvim/lua/custom/plugins/coding/cmp.lua
Due: none

perf(nvim): lazy-load vimtex on tex filetype
  .config/nvim/lua/custom/plugins/misc.lua
Due: none

feat(zsh): improve md, fzv, and lt functions
  .zsh/aliases.zsh
Due: zsh-syntax-check

feat(zsh): add Ctrl+Z toggle for suspend/resume
  .zsh/widgets.zsh
Due: zsh-syntax-check

feat(zsh): improve word movement with path separators
  .zshrc
Due: zsh-syntax-check

fix(zsh): sort completions by modification time reverse
  .zsh/completions.zsh
Due: zsh-syntax-check

fix(env): update CODE path to ~/Code
  .zshenv
Due: zsh-syntax-check

chore(btop): change process sorting from command to threads
  .config/btop/btop.conf
Due: none

feat(tmux): add fzf preview with project markers and git log
  scripts/tmux-sessionizer.sh
Due: check-shell-scripts-executable

perf(scripts): use haiku model for commit message generation
  scripts/generate-commit-message.sh
Due: check-shell-scripts-executable

refactor(scripts): use POSIX sh and improve fzf preview
  scripts/tmux-sessionizer.sh
Due: check-shell-scripts-executable

feat(tmux): add git status details to fzf preview
  scripts/tmux-sessionizer.sh
Due: check-shell-scripts-executable

style(hooks): remove redundant comments from verify script
  scripts/hooks/verify-no-personal-info.sh
Due: check-shell-scripts-executable

chore(stow): exclude .claude directory from symlinks
  .stow-local-ignore
Due: none

refactor(scripts): rename tmux-sessionizer to .zsh and update paths
  .zsh/aliases.zsh
  .zsh/widgets.zsh
  scripts/tmux-sessionizer.zsh
Due: zsh-syntax-check

feat(shell): add PostgreSQL 18 paths and compiler flags
  .zshenv
Due: zsh-syntax-check

feat(shell): add Alt-v keybinding for edit-command-line
  .zshrc
Due: zsh-syntax-check

fix(aliases): remove -t flag from glow wrapper
  .zsh/aliases.zsh
Due: zsh-syntax-check

chore(linearmouse): adjust scroll distance and fix trailing newline
  .config/linearmouse/linearmouse.json
Due: none

chore(scripts): remove FinMath path alias from sessionizer
  scripts/tmux-sessionizer.zsh
Due: zsh-syntax-check

docs: add comprehensive scripts documentation
  README.md
  scripts/README.md
Due: none

chore: remove root CLAUDE.md in favor of .claude/rules
  CLAUDE.md
Due: none

chore: auto-sync (weekly)
  scripts/tmux-sessionizer.zsh
Due: zsh-syntax-check

feat(nvim): add pretty_hover plugin for enhanced LSP hover
  .config/nvim/lazy-lock.json
  .config/nvim/lua/custom/plugins/ui/hover.lua
Due: none

feat(nvim): add cppman integration for C++ documentation
  .config/nvim/lua/custom/configs/autocmds.lua
  .config/nvim/lua/custom/plugins/lsp/plugins.lua
Due: none

feat(nvim): add cmake-tools plugin
  .config/nvim/lazy-lock.json
  .config/nvim/lua/custom/plugins/lsp/plugins.lua
Due: none

feat(nvim): add figlet header to dashboard
  .config/nvim/lua/custom/plugins/ui/dashboard.lua
Due: none

refactor(starship): reorganize format and compiler detection
  .config/starship.toml
Due: none

feat(nvim): add terminal mode colors to lualine
  .config/nvim/lua/custom/plugins/ui/lualine.lua
Due: none

feat(git): add gcrp function for commit and push
  .zsh/git-functions.zsh
Due: zsh-syntax-check

chore(btop): change process sorting from threads to user
  .config/btop/btop.conf
Due: none

feat(linearmouse): add G502 X LIGHTSPEED mouse config
  .config/linearmouse/linearmouse.json
Due: none

chore(nvim): update lazy-lock plugin versions
  .config/nvim/lazy-lock.json
Due: none

feat(nvim): add :Clip command for range yank to clipboard
  .config/nvim/lua/custom/configs/clipboard.lua
Due: none

feat(nvim): enable clangd LSP server
  .config/nvim/lua/custom/plugins/lsp/config.lua
Due: none

refactor(tmux): reorganize sessionizer project paths
  scripts/tmux-sessionizer.zsh
Due: zsh-syntax-check
