Repository atbraz/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: zsh-syntax-check, check-shell-scripts-executable

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    # Standard pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
            exclude: ^\.git/
          - id: end-of-file-fixer
            exclude: ^\.git/
          - id: check-yaml
            args: ["--unsafe"] # Allow custom YAML tags
          - id: check-toml
          - id: check-json
          - id: check-added-large-files
            args: ["--maxkb=1000"]
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-shebang-scripts-are-executable
          - id: detect-private-key
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: check-case-conflict

    # Security: Scan for secrets and credentials
    - repo: https://github.com/gitleaks/gitleaks
      rev: v8.30.0
      hooks:
          - id: gitleaks

    # Shell script linting
    - repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.11.0.1
      hooks:
          # ShellCheck for all sh/bash scripts (auto-detects shell type)
          - id: shellcheck
            name: shellcheck
            args: ["-x"] # Follow sourced files, auto-detect shell type
            files: \.(bash|sh)$
            exclude: ^\.zsh
            types: [file]

    # Lua formatting for Neovim configs
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.3.1
      hooks:
          - id: stylua
            files: \.lua$
            types: [file]

    # YAML linting
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint
            files: \.(yaml|yml)$

    # Check for common security issues in bash scripts
    - repo: https://github.com/openstack/bashate
      rev: 2.1.1
      hooks:
          - id: bashate
            name: bashate (bash only)
            args: ["--ignore=E006"] # Ignore line length for readability
            files: \.bash$
            exclude: ^\.zsh
            types: [file]

    # Custom local hooks
    - repo: local
      hooks:
          # Zsh syntax checking
          - id: zsh-syntax-check
            name: Zsh syntax check
            entry: zsh -n
            language: system
            files: (\.zsh$|\.zshrc$|\.zshenv$|\.zprofile$)
            types: [file]

          # Verify no personal information leaks
          - id: verify-no-personal-info
            name: Verify no personal info in commits
            entry: scripts/hooks/verify-no-personal-info.sh
            language: system
            pass_filenames: false

          # Verify smudge/clean filters are configured
          - id: verify-git-filters-configured
            name: Verify git filters are configured
            entry: scripts/hooks/verify-git-filters.sh
            language: system
            pass_filenames: false
            always_run: true

          # Check shell scripts are executable
          - id: check-shell-scripts-executable
            name: Ensure shell scripts are executable
            entry: scripts/hooks/check-scripts-executable.sh
            language: system
            files: ^scripts/.*\.sh$
            pass_filenames: true

          # Check for common dotfile mistakes
          - id: check-common-mistakes
            name: Check for common dotfile mistakes
            entry: scripts/hooks/check-common-mistakes.sh
            language: system
            pass_filenames: false

feat(ghostty): add Chicago Night theme
  .config/ghostty/config
  .config/ghostty/themes/ChicagoNight
  .pre-commit-config.yaml
Due: none

feat(nvim): add noice.nvim for UI enhancement
  .config/nvim/lazy-lock.json
  .config/nvim/lua/custom/plugins/ui/noice.lua
Due: none

feat(nvim): integrate noice status in lualine
  .config/nvim/lua/custom/plugins/ui/lualine.lua
Due: none

refactor(scripts): simplify verify_filters and fix shellcheck
  scripts/verify_filters.sh
Due: check-shell-scripts-executable

style(nvim): enable italic styles in theme
  .config/nvim/lua/custom/plugins/ui/theme.lua
Due: none

fix(scripts): handle pre-commit config and auto-fixes
  scripts/atomic-commits.sh
Due: check-shell-scripts-executable

fix(scripts): correct path to verify_filters.sh
  scripts/hooks/verify-git-filters.sh
Due: check-shell-scripts-executable

fix(nvim): resolve merge conflicts in noice config
  .config/nvim/lua/custom/plugins/ui/noice.lua
  .pre-commit-config.yaml
Due: none

refactor(zsh): modularize zshrc into separate files
  .pre-commit-config.yaml
  .zsh/aliases.zsh
  .zsh/git-functions.zsh
  .zsh/integrations.zsh
  .zsh/widgets.zsh
  .zshrc
Due: zsh-syntax-check

chore: update repository
  .zsh/completions/_gas
  .zsh/completions/_gcr
  .zsh/completions/_grel
  .zsh/completions/_restow
  .zsh/completions/_sto
Due: none

docs: add comprehensive repository documentation
  CLAUDE.md
Due: none

chore: update repository
  .pre-commit-config.yaml
  scripts/git-autosync
  scripts/git-autosync.sh
Due: check-shell-scripts-executable

feat(starship): enhance direnv status display
  .config/starship.toml
Due: none

chore(zsh): remove unused VS Code aliases
  .zsh/aliases.zsh
Due: zsh-syntax-check

fix(git-autosync): prevent PATH corruption from loop variable
  scripts/git-autosync.sh
Due: check-shell-scripts-executable

feat(tmux-sessionizer): exclude hidden and internal directories
  scripts/tmux-sessionizer
Due: none

fix(ghostty): correct theme name format
  .config/ghostty/config
Due: none

chore(scripts): remove obsolete gitattributes
  scripts/.gitattributes
Due: none

fix(git-autosync): add missing newline in list output
  scripts/git-autosync.sh
Due: check-shell-scripts-executable

refactor(tmux-sessionizer): extract path addition logic
  scripts/tmux-sessionizer
Due: none

feat(aliases): add md function for mkdir and cd
  .zsh/aliases.zsh
Due: zsh-syntax-check

feat(aliases): add claude model shortcuts
  .zsh/aliases.zsh
Due: zsh-syntax-check

fix(aliases): correct haiku model alias typo
  .zsh/aliases.zsh
Due: zsh-syntax-check

chore(.gitignore): add .DS_Store to ignore list and remove from history
  .config/btop/btop.conf
  .gitignore
  CLAUDE.md
  scripts/atomic-commits.sh
  scripts/setup.sh
Due: check-shell-scripts-executable

chore(nvim): update plugin lockfile
  .config/nvim/lazy-lock.json
Due: none

feat(nvim): add xmake.nvim plugin
  .config/nvim/lua/custom/plugins/lsp/plugins.lua
Due: none

refactor(zsh): reorganize environment variables and PATH
  .pre-commit-config.yaml
  .zshenv
Due: zsh-syntax-check

refactor(tmux): rename tmux-sessionizer and update paths
  .zsh/aliases.zsh
  .zsh/widgets.zsh
  scripts/tmux-sessionizer.sh
Due: zsh-syntax-check, check-shell-scripts-executable

chore(tmux): remove unused tmux-windowizer script
  scripts/tmux-windowizer
Due: none

fix(scripts): apply shellcheck fixes
  .config/tmux/reset.conf
  scripts/clean.sh
  scripts/generate-commit-message.sh
  scripts/health.sh
  scripts/hooks/check-common-mistakes.sh
  scripts/hooks/check-scripts-executable.sh
  scripts/tmux-sessionizer
Due: check-shell-scripts-executable

feat: add global gitignore for macOS and Vim
  .gitignore.global
Due: none

fix(env): correct CODE path to Projects directory
  .zshenv
Due: zsh-syntax-check

fix(hooks): rewrite personal info check to detect actual values
  scripts/hooks/verify-no-personal-info.sh
Due: check-shell-scripts-executable

fix(scripts): correct Coursework directory capitalization
  scripts/tmux-sessionizer.sh
Due: check-shell-scripts-executable

chore(config): stow more local configs
  .config/cheat/conf.yml
  .config/gh/config.yml
  .config/gh/hosts.yml
  .config/git/ignore
  .config/glow/glow.yml
  .config/karabiner/automatic_backups/karabiner_20250819.json
  .config/karabiner/automatic_backups/karabiner_20250826.json
  .config/karabiner/automatic_backups/karabiner_20251217.json
  .config/karabiner/automatic_backups/karabiner_20260104.json
  .config/karabiner/automatic_backups/karabiner_20260107.json
  .config/karabiner/karabiner.json
  .config/linearmouse/linearmouse.json
Due: none

chore: update dotfiles
  .config/karabiner/automatic_backups/karabiner_20260108.json
  .config/linearmouse/linearmouse.json
  .stow-local-ignore
  .zsh/git-functions.zsh
  .zsh/integrations.zsh
  scripts/atomic-commits.sh
  scripts/colors.sh
  scripts/generate-commit-message.sh
  scripts/git-autosync.sh
  scripts/health.sh
  scripts/verify_filters.sh
Due: zsh-syntax-check, check-shell-scripts-executable

feat(nvim): add flash.nvim for enhanced navigation
  .config/nvim/lazy-lock.json
  .config/nvim/lua/custom/plugins/editor/flash.lua
Due: none

feat(nvim): add oil.nvim file explorer
  .config/nvim/lua/custom/plugins/editor/oil.lua
Due: none

feat(nvim): add trouble.nvim for diagnostics
  .config/nvim/lua/custom/plugins/editor/trouble.lua
Due: none

feat(nvim): add persistence.nvim for session management
  .config/nvim/lua/custom/plugins/editor/persistence.lua
Due: none
